<section
  class="gradient-form bg-neutral-200 dark:bg-neutral-700 text-neutral-800 dark:text-neutral-200 h-full flex w-full"
>
  <!-- Left column container-->
  <div class="w-full lg:w-6/12 bg-white flex justify-center items-center">
    <div class="md:w-[80%] w-full md:p-12 p-6">
      <!--Header Content-->
      <div class="text-center">
        <h4 class="mb-12 mt-1 pb-1 text-4xl font-semibold">Welcome Back!</h4>
      </div>

      <form (ngSubmit)="login()">
        <!-- Username input -->
        <div class="mb-4">
          <label class="font-medium">Username</label>
          <input
            type="text"
            name="username"
            [(ngModel)]="username"
            class="block w-full rounded border px-3 py-2 leading-[1.6] outline-none transition-all duration-200 ease-linear focus:border-blue-500 mt-1"
            id="username"
            placeholder="Enter your Username"
          />
        </div>

        <!-- Password input -->
        <div class="mb-4 relative">
          <label class="font-medium">Password</label>
          <input
            [type]="showPassword ? 'text' : 'password'"
            id="password"
            name="password"
            placeholder="Enter your Password"
            [(ngModel)]="password"
            class="block w-full rounded border px-3 py-2 leading-[1.6] outline-none transition-all duration-200 ease-linear focus:border-blue-500 mt-1"
          />
          <i
            (click)="togglePasswordVisibility()"
            class="fas cursor-pointer absolute right-3 inset-y-0 my-auto top-10"
            [class.fa-eye-slash]="showPassword"
            [class.fa-eye]="!showPassword"
          ></i>
        </div>

        <!-- Submit button -->
        <div class="mb-6 pb-1 pt-1 text-center">
          <button
            class="bg-blue-600 w-full p-2 rounded text-white hover:bg-blue-700"
            type="submit"
            data-te-ripple-init
            data-te-ripple-color="light"
          >
            Login
          </button>
        </div>
      </form>
      <!-- forgot password link-->
      <div class="mt-4 mb-12 text-right">
        <a href="#!" class="underline">Forgot password?</a>
      </div>

      <!--Register button-->
      <div class="flex items-center justify-center pb-6">
        <p class="mb-0 mr-2">Don't have an account?</p>
        <app-button-outline text="Register"></app-button-outline>
      </div>
    </div>
  </div>

  <!-- Right column container with background image-->
  <div
    class="hidden items-center rounded-b-lg lg:w-6/12 lg:rounded-r-lg lg:rounded-bl-none md:flex bg-white text-black border-l border-gray-300"
    style="background: white"
  >
    <img
      class="mx-auto w-[100%] p-12"
      src="../../../assets/login.svg"
      alt="logo"
    />
  </div>
</section>
