<section
  class="gradient-form bg-neutral-200 dark:bg-neutral-700 text-neutral-800 dark:text-neutral-200 h-full flex"
>
  <!-- Left column container-->
  <div class="w-full lg:w-6/12 bg-white flex justify-center items-center">
    <div class="md:w-[80%] w-full md:p-12 p-6">
      <!--Header Content-->
      <div class="text-center">
        <h4 class="mb-12 mt-1 pb-1 text-4xl font-semibold">Welcome Back!</h4>
      </div>

      <form>
        <p class="mb-4">Please login to your account</p>
        <!--Username input-->
        <div class="relative mb-4" data-te-input-wrapper-init>
          <input
            type="text"
            class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.52rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:placeholder:text-neutral-200 [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
            id="exampleFormControlInput1"
            placeholder="Username"
          />
          <label
            for="exampleFormControlInput1"
            class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.52rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-primary"
            >Username
          </label>
        </div>

        <!--Password input-->
        <div class="relative mb-4" data-te-input-wrapper-init>
          <input
            type="password"
            class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.52rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:placeholder:text-neutral-200 [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
            id="exampleFormControlInput11"
            placeholder="Password"
          />
          <label
            for="exampleFormControlInput11"
            class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.52rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-primary"
            >Password
          </label>
        </div>

        <!--Submit button-->
        <div class="mb-6 pb-1 pt-1 text-center">
          <app-button text="login"></app-button>
        </div>
        <!--Forgot password link-->
        <div class="mt-4 mb-12 text-right">
          <a href="#!" class="underline">Forgot password?</a>
        </div>

        <!--Register button-->
        <div class="flex items-center justify-center pb-6">
          <p class="mb-0 mr-2">Don't have an account?</p>
          <app-button-outline text="Register"></app-button-outline>
        </div>
      </form>
    </div>
  </div>

  <!-- Right column container with background image-->
  <div
    class="hidden items-center rounded-b-lg lg:w-6/12 lg:rounded-r-lg lg:rounded-bl-none md:flex bg-white text-black border-l border-gray-300"
    style="background: white"
  >
    <img
      class="mx-auto w-[100%] p-12"
      src="../../../assets/login.svg"
      alt="logo"
    />
  </div>
</section>
